*	{
	margin: 0px;
	padding: 0px;
}

body	{
	background: #fafafa;
	margin: 0px;
}
.listitems  {
            width: 20%;
        }
a	{
	text-decoration: none;
	color: rgba(0,0,0,0.5);
}



#mainheader	{
	width: 100%;
	margin: 0px;
	margin-bottom: 100px;
}

#header	{
	color: white;
	line-height: 64px;
	padding-left: 50px;
	margin:0px;
	width: 100%;
	margin: 0px;
	color: rgba(0,0,0,0.5);
	background: #E0E0E0;
	line-height: 90px;
	font-size: 40px;
	font-family: sans-serif;
	font-weight: bolder;
	padding-left: 100px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.listitems	{
	margin: 0px;
	line-height: 27px;
	background: #f5f5f5;
	float: left;
	color: grey;
	list-style-type: none;
	text-align: center;
	box-shadow: 3px 0px 5px 1px rgba(0,0,0,0.5);
}

.listitems:hover	{
	background: #e0e0e0;
	cursor: pointer;
	color: white;
}

.listitems:active	{
	color: white;
	background: darkgrey;
}

.listitems:visited	{
	background: black;
}

a:hover	{
	text-decoration: none;
	color: rgba(0,0,0,0.6);
}

#spanning	{
	font-size: 20px;
	float: right;
	margin-right: 150px;
	text-decoration: none;
	list-style-type: none;
}

#firstul	{
	margin: 0px;
}

lala	{
	color: rgba(0,0,0,0.5);
	cursor: pointer;
	background: rgba(0,0,0,0.2);
	padding: 5px 10px 5px 10px;
	text-align: center;
	border-radius: 50px;
}

lala:hover	{
	color: white;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}

#asd	{
	width: 100%;
	color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

 .dropdown	{
 	height: 27px;
 }

 .dropdown-toggle	{
 	height: 27px;
 	width: 100%;
 	background: rgba(0,0,0,0);
 	border: 0px;
 }