*	{
	margin: 0px;
	padding: 0px;
}

table	{
	margin: 0px auto;
	width: 75%; 
	border-left: hidden;
	border-right: hidden;
	border-top: solid; 
}

tr	{
	height: 30px;
	background: #CFD8DC;
}

tr:hover	{
	background: rgba(0,0,0,0.2);
	color: white;
}

th	{
	padding-left: 15px;
	background: #607D8B;
	color: white;
}

td	{
	padding-left: 15px;
}

#addfieldname1, #addfieldname2, #addfieldname3, #addfieldname4	{
	width: 300px;
	height: 35px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#addfieldname6	{
	margin-top: 10px; 
	margin-bottom: 10px;
	height: 30px;
	width: 163px;
}

#subbutt	{
	width: 300px;
	height: 35px;
	margin-bottom: 150px;
	background: skyblue;
	border: 2px;
	border-radius: 6px;
	margin-top: 30px;
}

#subbutt:hover	{
	background: rgba(0,0,255,0.2);
	color: white;
}